<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="normalize.css"> -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0b75e0e2be.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <form id="builder" action="/builder/" method="POST">
            <div class="date-container">
                <label for="date">Date of Worship Event:</label>
                <input type="date" name="date" id="dateOfWorship">
                <button class="draft" type="button" name="draft" formaction="">Draft</button>
                <button type="submit" name="submit">Submit</button>
            </div>
            <ol class="liturgy">
                <% if (order.length !== 0) { %>
                    <% order.forEach(element => { %>
                        <li class="orderElement" data-id="<%= element._id%>" data-sort="" data-order="<%= element.elementOrder %>">
                            <select class="type">
                                <option value="Scripture" <%= element.elementType === 'Scripture' ? 'selected' : '' %>>Scripture</option>
                                <option value="Prayer" <%= element.elementType === 'Prayer' ? 'selected' : '' %>>Prayer</option>
                                <option value="Song" <%= element.elementType === 'Song' ? 'selected' : '' %>>Song</option>
                                <option value="Confession" <%= element.elementType === 'Confession' ? 'selected' : '' %>>Confession</option>
                                <option value="Other" <%= element.elementType === 'Other' ? 'selected' : '' %>>Other</option>
                            </select>
                            <select class="subtype">
                                <% if (element.elementType === 'Scripture') { %>
                                    <option value="Memory Verse" <%= element.elementSubtype === 'Memory Verse' ? 'selected' : '' %>>Memory Verse</option>
                                    <option value="Call to Worship" <%= element.elementSubtype === 'Call to Worship' ? 'selected' : '' %>>Call to Worship</option>
                                    <option value="Conviction of Sin" <%= element.elementSubtype === 'Conviction of Sin' ? 'selected' : '' %>>Conviction of Sin</option>
                                    <option value="Confession of Sin" <%= element.elementSubtype === 'Confession of Sin' ? 'selected' : '' %>>Confession of Sin</option>
                                    <option value="Assurance of Pardon" <%= element.elementSubtype === 'Assurance of Pardon' ? 'selected' : '' %>>Assurance of Pardon</option>
                                    <option value="Invitation to Pray" <%= element.elementSubtype === 'Invitation to Pray' ? 'selected' : '' %>>Invitation to Pray</option>
                                    <option value="Reading of the Word" <%= element.elementSubtype === 'Reading of the Word' ? 'selected' : '' %>>Reading of the Word</option>
                                    <option value="Baptism" <%= element.elementSubtype === 'Baptism' ? 'selected' : '' %>>Baptism</option>
                                    <option value="Confirmation" <%= element.elementSubtype === 'Confirmation' ? 'selected' : '' %>>Confirmation</option>
                                    <option value="The Lord's Supper" <%= element.elementSubtype === "The Lord's Supper" ? 'selected' : '' %>>The Lord's Supper</option>
                                    <option value="Offering" <%= element.elementSubtype === 'Offering' ? 'selected' : '' %>>Offering</option>
                                    <option value="Benediction" <%= element.elementSubtype === 'Benediction' ? 'selected' : '' %>>Benediction</option>
                                <% } else if (element.elementType === 'Song') { %>
                                    <option value="Songs of Adoration" <%= element.elementSubtype === 'Songs of Adoration' ? 'selected' : '' %>>Songs of Adoration</option>
                                    <option value="Songs of Praise" <%= element.elementSubtype === 'Songs of Praise' ? 'selected' : '' %>>Songs of Praise</option>
                                    <option value="Songs of Thanksgiving" <%= element.elementSubtype === 'Songs of Thanksgiving' ? 'selected' : '' %>>Songs of Thanksgiving</option>
                                <% } else if (element.elementType === 'Confession') {%>
                                    <option value="Apostle's Creed" <%= element.elementSubtype === "Apostle's Creed" ? 'selected' : '' %>>Apostle's Creed</option>
                                    <option value="Nicene Creed" <%= element.elementSubtype === 'Nicene Creed' ? 'selected' : '' %>>Nicene Creed</option>
                                    <option value="Heidelberg Catechism" <%= element.elementSubtype === 'Heidelberg Catechism' ? 'selected' : '' %>>Heidelberg Catechism</option>
                                    <option value="Westminster Shorter Catechism" <%= element.elementSubtype === 'Westminster Shorter Catechism' ? 'selected' : '' %>>Westminster Shorter Catechism</option>
                                    <option value="Westminster Larger Catechism" <%= element.elementSubtype === 'Westminster Larger Catechism' ? 'selected' : '' %>>Westminster Larger Catechism</option>
                                <% } %>
                            </select>
                            <input class= "ref" type="text" value="<%= element.elementRef %>" placeholder="<%= element.elementRef %>">
                            <div class="container">
                                <i class="fa-solid fa-up-long up"></i>
                                <i class="fa-solid fa-down-long down"></i>
                                <i class="fa-solid fa-plus add"></i>
                                <i class="fa-regular fa-trash-can del"></i>
                            </div>
                        </li>
                    <% }) %>
                <% } %>
            </ol>
            <button class="reset" type="reset" name="rest" form="builder" formaction="">Reset</button>
        </form>
    </header>
    <main></main>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>